html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
nav{
    height: 15vh;
}

#countrySearch {
    margin-top: 20px;
    margin-bottom: 20px;
}

#searchResults {
    margin-bottom: 20px;
}
.country-search-result {
    cursor: pointer;
}

#countrySearch {
    margin-top: 20px;
    margin-bottom: 20px;
}

#searchResults {
    margin-bottom: 20px;
}
.country-search-result {
    cursor: pointer;
}
.navbar-brand:hover{
    color: grey;
}
.container-fluid {
    width: 100%;
    height: 100%;
    padding: 0;
}
.country-button {
    width:33.33333333333vw;
    height: 33vh;
     background-position: center;
     background-repeat: no-repeat;
     border: none; /* Remove the button border */
     padding: 0; /* Remove padding */
     outline: none; /* Remove the outline on button focus */
    background-size: 100%;
     transition: background-size 2s ease-in, background-position 0.5s ease;/* Adjust transition duration */
}
.country-button:hover {
        background-size: 150%;
        background-position: center; /* Center the background image */
        filter: brightness(70%); /* Reduce brightness for the image */
    }

    .country-button h1 {
        color: black; /* Set the initial color of h1 */
        transition: color 0.5s;
    }

    .country-button:hover h1 {
        color: white; /* Change h1 color to white on hover */
    }
    .country-button:active{
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    }
    .country-button:not(:hover) {
    transition: background-size 0.5s ease, background-position 0.5s ease; /* Transition for hover-out */
    background-size: 100%;
    background-position: center;
}
